[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
.vs/
.idea/
*.csproj
*.sln
*.user
*.suo
*.log
.DS_Store
Thumbs.db
Assets/HydroTools/HydroFTEars/Generated/
Assets/HydroTools/HydroFTEars/Generated.meta
